body {
  background-image: url("images/earth.png");
  background-attachment: fixed;
  background-position: center center;
  font-family: sans-serif;
}

.title {
  padding-bottom: 4%;
  color:#f1f1f1;
  font-size: 37pt;
  width: auto;
  text-align: center;
  opacity: 0.83;
}

.jumbotron {
  color: #222;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 2px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3%;
}

/* unvisited link */
a:link {
    color:  #222;
}

/* visited link */
a:visited {
    color:  #222;
}

/* mouse over link */
a:hover {
    color:  #222;
}

/* selected link */
a:active {
    color:  #222;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}